/* cleaned */
.container-flex{
    display: flex;    
	width: 100%;
}
@media screen and (max-width: 1250px){
	.container-flex.main{
		flex-direction: column;
	}
}
@media screen and (max-width: 700px){
	.container-flex{
		flex-direction: column;
	}
}
.center{
	align-items: center;
	justify-content: center;
}
.row{
	flex-direction: row;
}
.col{
	flex-direction: column;
}

/* cleaned */
.container-split{
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and (max-width: 1250px){
	.container-split{
		width: 100% !important;
	}
}
