/* Global styles */
:root{
    --black: #101010;
	--lightblack: #343a40;
	--blue: #0b1737;
	--cyan: #07f0fe;
	--darkcyan: #1e5e6a;
	--white: rgba(255,255,255, 0.85);
}
html{
    width: 100%;
    background-color: var(--black);
}
body{
	margin: 0;
	color: var(--white);
	text-decoration: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a:visited{
	color: var(--white);
}
section{
	overflow: hidden;
	padding: 1em;
}
h1,h2,h3,h4{
    margin: 0.1em 0;
}

h1{
	font-size: 3em;
}
h1::after{
	content: "";
	display: block;
	margin-top: 0.3em;
	width: 1.2em;
	height: 0.1em;
	background-color: var(--cyan);
}

h4{
 	font-size: 1.5em;
}
.container {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}
@media screen and (max-width: 600px){
	.container {
		width: 90%;
	}
}
/* Global styles */