/* --- Global styles --- */
:root{
    --black: #101010;
	--lightblack: #343a40;
	--blue: #0b1737;
	--cyan: #07f0fe;
	--darkcyan: #1e5e6a;
	--white: #ffffffd9;
}
/* Layout */
html, body{
    width: 100%;
    background-color: var(--black);
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
section{
	padding: 1em;
}
.container{
	margin: 0 auto;
}
.container-flex{
    display: inline-flex;
    justify-content: center;
}
section .container {
	width: 60%;
	/* debugging 
	border-left: 1px solid red;
	border-right: 1px solid red;
	*/
}
@media screen and (max-width: 700px){
	section .container {
		width: 90%;
	}
}
/* Text formatting */
:visited, :link, body, a{
	color: var(--white);	
    text-decoration: none;
}
h1,h2,h3,h4{
    margin: 0.1em 0;
}
h1{
	font-size: 3em;
}
h1::after{
	content: "";
	display: block;
	margin-top: 0.3em;
	width: 1.2em;
	height: 0.1em;
	background-color: var(--cyan);
}
h4{
 	font-size: 1.5em;
}