#nav-bar{
    position: fixed;
    display: flex;
    justify-content: center;
    top:0;
    left:0;
    width: 100%;
    height: 3em;
    background-color: var(--lightblack);
    z-index: 1000;
}  
#nav-toggle, .nav-link{
    float: left;
    display: block;
    padding: 0.5em 1em;
    margin: 0.3em;
    text-align: center;
    font-size: 1em;
}
#nav-toggle svg, .nav-link svg{
    color: var(--cyan);
}
#nav-toggle{
    display: none !important;
    cursor: pointer;
}
.nav-link:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.3em;
}
/* Responsive positionning */
@media screen and (max-width: 700px){
    #nav-bar{
        display: block;
    }
    .nav-link:not(:first-child){
        display: none;
    }
    #nav-toggle{
        float: right !important;
        display: block !important;
    }
    .nav-link:hover{
        border-radius: 0;
    }
}
/* Responsive positionning on #navbar expand */
@media screen and (max-width: 700px){
    #nav-bar.toggled{
        background-color: var(--lightblack);
    }
    #nav-bar.toggled #nav-toggle{
        position: absolute;
        right: 0;
        top: 0;
    }
    #nav-bar.toggled .nav-link{
        float: none;
        display: block;
        text-align: left;
        margin: 0;
        /* margins disabled then added to padding */
        padding: 0.8em 1.3em;
        background-color: var(--lightblack);
    }
}