#nav-bar{
    position: fixed;
    display:  flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 2em);
    height: 3em;
    background-color: var(--lightblack);
    z-index: 1000;
    padding-left: 1em;
    padding-right: 1em;
}  
#nav-links{
    display: flex;
    font-size: 1em;
    background-color: var(--lightblack);
}
.nav-link{
    height: 1em;
    display: flex;
}
#nav-toggle{
    display: none;
}
.nav-link, #nav-toggle{
    cursor: pointer;
    align-items: center;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
}
#nav-bar svg path{
    color: var(--cyan) !important;
}
.nav-link:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.3em;
}

/* Responsive positionning */
@media screen and (max-width: 700px){
    #nav-links{
        display: none;
    }
    #nav-toggle{
        margin-left: auto;
        display: flex !important;
        z-index: 1000;
    }
}

/* Responsive positionning on #navbar expand */
@media screen and (max-width: 700px){
    #nav-bar.toggled{
        background-color: var(--lightblack);
    }
    #nav-bar.toggled #nav-links{
        display: flex;
        flex-direction: column;
        width: calc(100% - 2em);
        position: inherit;
        top: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }
    #nav-bar.toggled .nav-link{
        justify-content: left;
        height: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: fit-content;
    }
}