.icon-box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 80%;
}
.icon-box:not(:nth-child(1)), .iconwithtext-link:not(:nth-child(1)){
    margin-top: 0.5em;
}
.icon-background{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    border-radius: 50%;
    background-color: var(--darkcyan);
    width: 3em;
    height: 3em;
}
.icon-background svg{
    height: 2em !important;
    width: 2em !important;
}
.link .icon-text{
    color: var(--cyan) !important;
}