#home{
    padding-top: 3em;
    /* 3em : navbar, 3px : section border-bottom, 4em ????*/
    height: calc(calc(100vh - 4em) - 3px);
    background: top center;
    background-size: cover;
    background-image: url('../../../images/home-background.jpg');
    border-bottom: 3px solid var(--darkcyan);
}
#me{
    position: relative;
    display: inline-block;
    left: 40%;
    top: 50%;
}
#me > *{
    display: inline-block;
    font-weight: normal;
}
#me h1::after{
    content: none;
}
#me h4 i span span:first-child{
    color:var(--cyan) !important;
    border-bottom: 2px solid var(--cyan);
}
/* Responsive positionning */
@media screen and (max-width: 700px){
    #me{
        left:0;
        top: 50%;
    }
}