#avatar{
    border-radius: 50%;
    height: auto;
    width: 100%;
}
#social-links{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 1em;
}
#aboutme > .container > .container-flex > .split-container:last-child{
    padding-left: 2em;
}